extends ../layouts/default

block head
	script(src="/js/calculateExpense.js")

block content
	.container

		div now you are logged in #{userData.uid} #{userData.name}

		table.table
			thead: tr
				th Date
				th Odometer
				th Litres
				th Euros
				th Full

				for refuel in refuels
					- var date = new Date(refuel.date);
					- var day = date.getDate();
					- var month = date.getMonth() + 1;
					- var year = date.getFullYear();
					if (day<10)
						- day = "0" + day;
					if (month<10)
						- month = "0" + month; 
					tr(data-id="#{refuel._id}" data-total-odo="#{refuel.totalOdometer}" data-total-euros="#{refuel.totalEuros}" data-partial-euros="#{refuel.euros}" data-total-litres="#{refuel.totalLitres}" data-full="#{refuel.full}")
						td: input(type="date" value="#{year}-#{month}-#{day}" disabled)
						td=refuel.odometer
						td=refuel.litres
						td=refuel.euros
						td: input(type="checkbox" checked=refuel.full disabled)

		div Historical mileage: 
			span= mileage + " l/100"

		#expensesPopup.modal.fade(role="dialog"): .modal-dialog: .modal-content
			.modal-header
				button.close(data-dismiss="modal") &times;
				h4#modal-title.modal-title Modal Header
			#modal-text.modal-body: p Some text in the modal
			.modal-footer: button.btn.btn-default(type="button" data-dismiss="modal") Close
		